
# The specified Git repository contains the file lab-3-client.yml
# with a key-value pair such as lucky-word: "Spanish"
# (Note that it won't work if the value is not set between quotes!)
# Once the application is started, the URL http://localhost:8001/lab-3-client/default shows the JSON including it

spring:
  application:
    name: config-server
  profiles:
    active: default

server:
  port: 8001

management:
  endpoints:
    web:
      exposure:
        include: health,info,beans,env,configprops,mappings,busrefresh

---
# ============================================================
# DEFAULT PROFILE → without connection to Kafka
# ============================================================
spring:
  config:
    activate:
      on-profile: default
  cloud:
    config:
      server:
        git:
          uri: "https://github.com/dlmogft/spring-cloud-server-config-danim"
    bus:
      enabled: false
    stream:
      kafka:
        binder:
          brokers: ""

---
# ============================================================
# KAFKA PROFILE→ with connection to Kafka and bus enabled
# ============================================================
spring:
  config:
    activate:
      on-profile: kafka

  cloud:
    config:
      server:
        git:
          uri: "https://github.com/dlmogft/spring-cloud-server-config-danim"
    bus:
      enabled: true
    stream:
      kafka:
        binder:
          brokers: localhost:9092
